<h1 style="color:cyan; text-align:center; font-size:250%; font-weight:bold">
Pandas General Functions</h1>

<table>
    <tr><th colspan="2", style="color:deeppink; font-size:200%; font-weight:bold">List of the content </th><tr>
    <tr>
        <th style="color:gold ; font-weight:bold" >Type of Function</th>
        <th style="color:orange">List of the Import Functions</th>
    </tr>
    <tr>
        <td style="color:teal; font-weight:bold">1) Data Manipulation Function</td>
        <td style="color:coral">
            <ul>    
                <li>pd.crosstab()</li>
                <li>pd.merge()</li>
                <li>pd.concat()</li>
                <li>pd.unique()</li>
                <li>pd.lreshape()</li>
                <li>pd.pivot()</li>
                <li>pd.pivottable()</li>
                <li>pd.melt()</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="color:teal ; font-weight:bold" >2) Function to check missing Data</td>
        <td style="color:coral">
            <ul>
                <li>isna</li>
                <li>notna</li>
                <li>isnull</li>
                <li>notnull</li>
            </ul>
        </td>
    </tr>
</table>

<h1 style=" color:gold; font-size:250%; font-weight:bold"> 1)Data Manipulation Function </h1>
    <h2 style="color:crimson;font-weight:bold; font-size:200%; margin:20px">1.1)pd.crosstab() function</h2>
         <ul style="color: violet;  margin: 20px">A crosstab in Pandas creates a table that counts how often different combinations of values appear in your data. </ul>

In [36]:
import pandas as pd 
import seaborn as sns
df=sns.load_dataset('titanic')
df.head()

#1)classwise frequency table of male and female 
class_sex_table=pd.crosstab(index=df['class'], columns=df['sex'], margins=True)
print(class_sex_table)
#1)Townwise frequency table of male and female
emabark_town_sex=pd.crosstab(index=df['embark_town'], columns=[df['sex'], df['class']])
emabark_town_sex

sex     female  male  All
class
First       94   122  216
Second      76   108  184
Third      144   347  491
All        314   577  891

sex         female               male
class        First Second Third First Second Third
embark_town
Cherbourg       43      7    23    42     10    43
Queenstown       1      2    33     1      1    39
Southampton     48     67    88    79     97   265